<div class="teams-list-wrapper"> 
    <h3 class="teams-list-wrapper-title"><i class="fa fa-group"></i> Teams</h3>
    <div class="cols">
        <div class="teams-list-col" ontouchstart="this.classList.toggle('hover');" ng (click)="openTeamProfile('MIN')">
          <div class="container">
            <div class="front" style="background-image: url(/assets/images/MIN_logo.png)">
              <div class="inner">
                <p>Minnesota Vikings</p>
                <span>NFC North</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="teams-list-col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(/assets/images/GB_logo.png)">
              <div class="inner">
                <p>Green Bay Packers</p>
                <span>NFC North</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="teams-list-col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(/assets/images/DET_logo.PNG)">
              <div class="inner">
                <p>Detroit Lions</p>
                <span>NFC North</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="teams-list-col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(/assets/images/CHI_logo.png)">
              <div class="inner">
                <p>Chicago Bears</p>
                <span>NFC North</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="teams-list-col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://unsplash.it/504/504/">
              <div class="inner">
                <p>Rendann</p>
                <span>Lorem ipsum</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="teams-list-col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
              <div class="inner">
                <p>Reflupper</p>
                <span>Lorem ipsum</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="teams-list-col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
              <div class="inner">
                <p>Acirassi</p>
                <span>Lorem ipsum</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>