body, html{
    font-family: Calibri;
    margin: 0px !important;
}
h1, h2, h3, h4, h5, p{
    font-family: Calibri;
}

button{
    border: unset;
    border-radius: .5em;
    background-color: #364d67;
    box-shadow: 5px 5px 5px #01172f;
    cursor: pointer;
}

.main-toolbar{
    background-color: rgb(85, 84, 84);
    color: rgb(184, 182, 182);
    font-family: Calibri;
    font-size: 34px;
    font-weight: bold;
    height: 1.3em;
    text-align: center;
    width: 100%
}

.main-view-topbar{
    background-color: rgb(192, 189, 189);
    color: rgb(43, 42, 42);
    height: 2em;
    text-align: center;
    width: 100%
}
.main-view{
    text-align: center;
    height: calc(100vh - 1.3em);
    width: 100%;
}

.main-carousel{
    height: 100%;

}

.main-carousel-item{
    text-align: center;
}

.main-carousel-item1{
    background-image: url("/assets/images/banner_field.jpeg");
}

.main-carousel-item2{
    background-image: url("/assets/images/banner_stadium2.jpg");
}

.main-carousel-item3{
    background-image: url("/assets/images/banner_stadium.jpeg");
}

.main-carousel-image{
    height: calc(100vh - 1.3em);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-carousel-caption{
    bottom: 45%;
    margin: 0 auto;
    text-align: center;
    width: 23em;
    opacity: 1;
}

.main-carousel-cap{
    bottom: 45%;
    position: absolute;
    text-align: center;
    width: 23em;
}


.main-carousel-title{
    color: #01172f;
}

.main-carousel-description{
    color: #01172f;
    display: inline-block;
    font-weight: 600;
}

.main-carousel-button{
    font-size: 1.3em;
    height: 2.5em;
    width: 8em;
}

    .main-carousel-button:active {
        background-color: #034085;
        border: solid 1px #808080;
    }

.main-logo{
    opacity: .4;
}
.sidebar{
    background-color: rgb(167, 165, 165);
    display: none;
    height: calc(100% - 3.5em);
    position: absolute;
    top: 3.2em;
    width: 12em;
}

.profile-holder{
    display: block;
}


.main-carousel-item h1 {
    background-color: #ccc;
    min-height: 300px;
    text-align: center;
    line-height: 300px;
}
.main-carousel-leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.main-carousel-rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}

.ngxcarouselPointDefault, .ng-star-inserted{
    position: absolute;
    bottom: 30%;
    padding-left: 27%;

}