body{
    font-family: Calibri;
}
h3{
    font-family: Calibri;
}
.main-toolbar{
    background-color: rgb(85, 84, 84);
    color: rgb(184, 182, 182);
    font-family: Calibri;
    font-size: 24px;
    font-weight: bold;
    height: 2em;
    text-align: center;
    width: 100%
}

.main-view-topbar{
    background-color: rgb(192, 189, 189);
    color: rgb(43, 42, 42);
    height: 2em;
    text-align: center;
    width: 100%
}
.main-view{
    text-align: center;
}
.sidebar-button{
    background-color:red;
    display: block;
    width: 10px;
    height: 10px;
    text-align: left;
}
.sidebar{
    background-color: rgb(167, 165, 165);
    display: block;
    height: calc(100% - 3.5em);
    width: 12em;
    top: 3.5em;
    position: absolute;
}
