<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link rel="stylesheet" href = "/assets/font-awesome/css/font-awesome.min.css">
</head>
<div class = "nav-bar main-toolbar">NFL Teams
  <button class = "fa fa-area-chart sidebar-button" (click)="toggleSidebar()"></button>
</div>
<div class = "main-view">
    <img class="main-logo" width="300" src="/assets/images/NFL_logo.PNG">
</div>
<h4>Team Profiles:</h4>
<select class = "team-select" (change)="teamSelectChange()">
  <option *ngFor="let item of teamsList">{{item.name}}</option>
</select>
<div class="sidebar" [ngStyle]="{ 'display': sideBarOpen ? 'block' : 'none' }">
<ul>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Profiles</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Divisions</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://blog.angular.io/">Stadiums</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://blog.angular.io/">News</a></h3>
  </li>
</ul>
</div>
<div class = "team-profile-main" *ngIf="profileOpen">
  <div class = "team-profile-topbar">

    <img class="team-profile-conf-logo" width="50" src="/assets/images/NFC_logo.png">
    <h4 class = "team-profile-division">North</h4>
    <h4 class = "team-profile-rank">1st</h4>
    
    
  <h2 class = "team-profile-title">
      <img class="team-profile-team-logo" width="50" src="/assets/images/MIN_logo.png">
      Minnesota Vikings
    </h2>
  <h3 class = "team-profile-record">10-3</h3>
  <h5 class = "team-profile-link" href="vikings.com">www.vikings.com</h5>
</div>
  <ul>
    <h4>Location: Minneapolis, MN</h4>
    <h4>Venue: US Bank Stadium</h4>
    <h4>Established 1960</h4>
    <h4>Super Bowl Wins: 0</h4>
  </ul>
  <div class = "team-profile-map"></div>
</div>

