<div class = "profile-container">
  <mat-card>
      <div class = "team-profile-topbar">
        <img class="team-profile-conf-logo" width="50" src={{currentconf}}>
        <h4 class = "team-profile-division">North</h4>
        <h4 class = "team-profile-rank">{{teamData.standings.divisionRank}}</h4>
        <h2 class = "team-profile-title">
          <img class="team-profile-team-logo" width="50" src={{currentID}}>
          {{teamData.fullName}}
        </h2>
        <h3 class = "team-profile-record">
          {{teamData.standings.overallWins}}-{{teamData.standings.overallLosses}}</h3>
        <h5 class = "team-profile-link">{{teamData.webDomain}}</h5>
      </div>
      <ul>
        <h4>Location: </h4>
        <h4>Venue: {{teamData.venue.name}}</h4>
        <h4>Established {{teamData.established}}</h4>
        <h4>Super Bowl Wins: </h4>
      </ul>
      <div class = "team-profile-map"></div>
    </mat-card>
</div>